@CHARSET "UTF-8";

.ocultar {display:none;}
body {font:11pt Arial,Helvetica;width:760px;overflow:hidden;}
p {padding:5px;}
#usuario {height:50px;vertical-align: top;}
#mapa {width:600px;height:450px;}
.nota {margin-top: 15px;
margin-bottom: 5px;
font-style: italic;}
#logo {position: absolute;
left: 550px;
top: -20px;
width: 125px;
height: 125px;}
#r1 {float:left;}
#r2 {float:right;}
#r2 img {width:216px;height:216px;}
#links {margin-top:20px;}

button {
	border:solid 1px #888;
	background: #eee;
	font:bold 12px Helvetica,Arial,Sans-serif;
	border-radius:5px;
	color: #1C94C4;
	cursor:pointer;
	padding:5px;
	margin-right:10px;
    font-size: 14px;
}

button:hover {
	color: #EB8F00;
}

#header {position:relative;}