<!DOCTYPE html>
<html>
	<head>
	    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    	<meta http-equiv="content-language" content="es" />
	
		<title>Construcciones de Buenos Aires</title>
		<link href="../css/canvas.css" media="screen,print" type="text/css" rel="stylesheet" />
	</head>
<body>

<h3>Construcciones de Buenos Aires</h3>
<p>Gracias a la iniciativa de OpenData del Gobierno de la Ciudad de Buenos Aires, ahora puedes
conocer, comentar y compartir con tus amigos las cosas positivas y negativas de las construcciones
que se están realizando cerca de tu casa.
<p>Participar es muy simple, solo debes activar esta aplicación e indicar donde vives en la ciudad.
<p><a href="#login#" target="_top">Instalar aplicación</a>
<div id="links">
	<div id="r1"><a href="http://data.buenosaires.gob.ar"><img src="/images/bsas_data.jpg"/></a></div>
	<div id="r2"><img src="/images/Under-construction.png"/></div>
</div>
</body>
</html>