
    <link rel="stylesheet" type="text/css" href="http://servicios.usig.buenosaires.gov.ar/usig-js/2.1/demos/css/demos.css" />
	<script src="http://servicios.usig.buenosaires.gov.ar/usig-js/2.1/usig.AutoCompleterFull.min.js" type="text/javascript"></script>
	<script src="http://servicios.usig.buenosaires.gov.ar/usig-js/2.1/usig.MapaInteractivo.min.js" type="text/javascript"></script>
        
    <div id="page">
      <div id="buscador">
       <form id="mainForm" accept-charset="iso-8859-1" onsubmit="return false;">
      	<label for="b">Buscar</label>
     	<input type="text" size="40" name="b" id="b" title="Lugar a buscar" class="text"/>
     	<span id="ejemplo">ej.: Callao y Corrientes, Florida 550, Teatro San Martín, etc.</span>
	    <div id="mapa"></div>
       </form>
      </div>
    </div>
